@font-face {
  font-family: "DM Serif Text";
  src: url("./assets/fonts/DM-Serif-Text/DMSerifText-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Donegal One";
  src: url("./assets/fonts/Donegal_One/DonegalOne-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("./assets//fonts/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Skeleton styles */
.skeleton {
  opacity: 0.7;
  animation: pulse 0.7s infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: hsl(200 20% 70%);
  }

  100% {
    background-color: hsl(200 20% 95%);
  }
}

/* Scrollbar Styles */
@supports not (-webkit-appearance: none) {
  .cat-scrollbar {
    scrollbar-color: black hsla(0 0% 0% / 0.1);
  }
}

@supports (-webkit-appearance: none) {
  .cat-scrollbar::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }

  .cat-scrollbar::-webkit-scrollbar-track {
    background: hsla(0 0% 0% / 0.1);
    border-radius: 100vw;
  }

  .cat-scrollbar::-webkit-scrollbar-thumb {
    background: hsla(0 0% 0% / 1);
    border-radius: 100vw;
  }

  .cat-scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsla(0 0% 0% / 0.8);
    cursor: pointer;
  }

  .cat-scrollbar--container::-webkit-scrollbar-track {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .cat-scrollbar--card::-webkit-scrollbar-track {
    margin: 0.1rem 0 0.7rem 0;
  }
}
